#navlist
{
    list-style: none;
    text-decoration: none;    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cont
{
    height: 100vh;
    width: 100vw;
    overflow-x:none  ;
    /* padding: 100px; */
    background-image: url(care.jpg);
    background-repeat: none; 
    background-repeat: no-repeat;
    background-position: center;   
    min-height: 100vh;
    object-fit: fill    ;
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-size: cover;
}
.navcon
{
    width: 100vw;
    /* background-color:rgba(168, 121, 199, 0.496); */
    background-color: #8EC5FC;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);;

    min-height: 80px ;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
}
nav{
    width:100%;
    padding-right: 2rem;
 }

#navhead
{
    font-size: 2.5rem;
    font-style: initial;
    font-variant: small-caps;
    color: white;
}

#logo
{
    font-size: 1.9rem;
    display: flex;
    justify-content: space-between;


    
    
} 
#navlist
{
    padding: 12px;
    width: 100%;
    /* margin-left: 15px;
    margin-right: right; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.anchor
{

   
    height:15px;
}

a{
    text-decoration: none;
    color:white ;
}
img
{
    height: 50px;
    border-radius: 50px;
}
#hi
{
    display: flex;
}
.form{
        width: 300px;
        padding: 16px;
        background-color: transparent;
        margin: 0 auto;
        margin-left:400px;
        height: 300px;
        margin-top: 100px;
        /* border: 2px solid white; */
        border-radius: 10px;
        color: black;
        font-weight: bold;
        opacity: 2.0;
        /* box-shadow: 3px 3px 10px 3px white; */
}
/* #form
{
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    width: 50%;
    margin: auto;
    margin-top: 15%;
    height: 240px;
    overflow:none;
} */
input[type=text], input[type=email] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 3px;    
    margin: 8px 0;
}

#bt1 {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.3s linear 0s;

}

#bt1:hover {
    transform: scale(1.2);
    box-shadow: 3px 3px 3px black;
    color: #fff;
    text-decoration: none;
}

#bt2 {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.3s linear 0s;
}

#bt2:hover {
    transform: scale(1.2);
    box-shadow: 3px 3px 3px black;
    color: #fff;
    text-decoration: none;
}
button{
    color: blue;
    background-color: green;
    background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
        padding: 10px 20px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        font-weight: bold;
        display: block;

}
.button{
    display: flex;
    justify-content: space-between;
}